.section__image.filter-deadside {
  filter: sepia(70%) grayscale(60%) brightness(110%) contrast(105%);
}

.section__image.filter-oblivion {
  filter: brightness(1.9) contrast(1.5);
}

.section__image.filter-depression {
  filter: sepia(50%) saturate(150%) brightness(110%);
}

.section__image.filter-ghostly {
  filter: invert(100%);
}

.section__image.filter-post-apocalyptic {
  filter: grayscale(0.85) sepia(0.35) hue-rotate(10deg) brightness(1.2) contrast(1.4);
}

.section__image.filter-existential {
  filter: blur(12px);
}

.section__image.filter-decay {
  filter: hue-rotate(90deg) brightness(80%) contrast(75%);
}
